<% if !@menWear.blank? %>

<div>

  <h2>What To Wear In <%= displayLocation(@weather) %>:</h2>

  <div id="weatherInfo">
  <%= @weather.description.html_safe %>
  </div>

  <h3>Boys:</h3>

  <% @menWear.to_a.each do |men| %>
   <%= image_tag(men) %>
  <% end %>

  <h3>Girls:</h3>
  <% @womenWear.to_a.each do |women| %>
   <%= image_tag(women) %>
  <% end %>
  
</div>

<% else %>

  <h2><%= @infoText %></h2>
  
<% end %>